.movieTitle{
    font-size: 3rem;
    font-weight: bold;
}

.movieTagline{
    font-size: 1.5rem;
    font-weight: 300;
}

.movieCard{
    /* padding: 10px; */
}

.movieCard img{
    border-radius: 20px;
}

.movieDetails{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.movieDetails span {
    margin-left: 0;
    font-size: 1rem;
}

.rating, .genres, .synopsis, .extLinks, .providers{
    font-weight: bold;
}

.movieR{
    font-weight: 400;
}

.movieGenres, .movieSynopsis, .movieRating, .movieButtons, .movieProviders{
    padding-top: 20px;
}

.movieGenres button {
    margin-right: 10px;
    width: 150px;
    margin-top: 10px;
}
.movieButtons button{
    margin-right: 10px;
    width: 100px;
}